<%- include("top") -%>

<section class="main">
  <div class="container body-container">
    <div class="row mx-auto button-area">
      <div class="">
        <p style="font-weight: 600; font-size: 24px; color: #10580b;">
          BATCH CHANGED
        </p>
        <p>Hi <b><%= name %></b></p>
        <p>
          <q
            >Yoga means - addition of energy, strength and beauty to body, mind
            and soul. </q
          ><br />See you at <b><%= shift %></b> daily.
        </p>
      </div>
      <div
        style="
          width: 100%;
          text-align: center;
          font-weight: 500;
          font-size: 19px;
        "
      >
        <hr />
        <p>serve . love . give</p>
      </div>
    </div>
  </div>
</section>

<%- include("bottom") -%>
