<header>
  <div class="container shadow-lg bg-white head-container">
    <div class="row">
      <div class="logo p-1">
        <img src="logo.png" alt="" />
      </div>
      <div class="heading my-auto mx-3">
        <h1><small>Yoga Mysticism </small></h1>
      </div>
    </div>
  </div>
</header>
