<%- include("top") -%>

<section class="main">
  <div class="container body-container">
    <div class="row mx-auto button-area">
      <div class="">
        <p>Hey <b><%= name %></b></p>
        <p>
          <q>Yoga has the power to reconstruct a person completely. </q
          ><br />See you at <b><%= shift %></b> daily.
        </p>
      </div>
      <div
        style="
          width: 100%;
          text-align: center;
          font-weight: 500;
          font-size: 19px;
        "
      >
        <hr />
        <p>serve . love . give</p>
      </div>
    </div>
  </div>
</section>

<%- include("bottom") -%>
